table {
    border-spacing: 0 4px;
    font:  bold 100% Georgia, serif;
    margin: 10px auto;
    text-shadow: 5px 5px 5px #33CCFF;
    background: #CCFFFF;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    border: 4px double black;
}